*.class
*.class
out/production/Eric/Main.class
*.class
*.class
*.class
out/production/Eric/test/test.class
*.class
.idea/sonarlint/issuestore/0/d/0d5da3b664ec85102048a8363aa94cd8bb7170ff
.idea/sonarlint/issuestore/b/0/b0ff0136d98a9f591238347dc7e37e1be2f8a697